* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eeeeee;
  font-family: "Overpass", "Arial", sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #ffffff;
  text-decoration: none;
}
